@import '../../../mixins';

.switch-control-component {
    @include s-shelf();
    &.disabled {
        opacity: .3;

        .switch-button:active {
            transform: none;
        }
    }

    .switch-button {
        @include s-zero-gravity();
        @include m-glass();
        @include e-comics-outline();
        @include b-jump-on-active();

        height: 30px;
        width: 30px;
        border-radius: 100%;

        & > * {
            transition: opacity .1s;
            background: black;
            height: 20px;
            width: 20px;
            border-radius: 100%;
            opacity: 0;
        }
        .toggled {
            opacity: 1;
        }
    }
}
