@import './mixins';

.with-structure {

  &.stack {
    @include s-stack();
  }

  &.shelf-styled {
    @include s-shelf-styled();
  }

  &.shelf {
    @include s-shelf();
  }

  &.zero-gravity {
    @include s-zero-gravity();
  }

  &.no-overflow {
    @include s-no-overflow();
  }
}


.with-geometry {
  &.fill-parent {
      @include g-box(100%, 100%);
  }
}

// CLASSES
.world {
  position: absolute;
  color: #fefff9;

  @include g-box(100%, 100%);
  @include s-no-overflow();
  @include m-night();
}

.camera {
  perspective: 800px;
}

.scene {
  @include g-box(100%, 100%);
  @include s-zero-gravity();
  @include e-view-angle();
}

.screen {
  @include s-shelf();
  @include m-sunset();
  @include e-light();
  @include e-comics-outline();
}

.game-pane {
  @include g-box(100%, 100%);
  @include s-stack();
  @include m-glass();
  @include e-comics-outline();

  .canvas {
    position: absolute;
  }
}

.controls-pane {
  @include s-stack();
  @include m-glass();
  @include e-comics-outline();
}


.button {
  @include m-glass();
  @include e-comics-outline();
  @include b-jump-on-active();
  @include s-button();

  //CONTENT
  &._ok {
    @include m-glass-green();
    letter-spacing: 0.2em;
    &::after {
      content: "ok";
    }
  }

  &._cancel {
    letter-spacing: 0.1em;
    &::after {
      content: "cancel";
    }
  }
}


.App {
  div, button {
    outline: none;
    border: none;
  }
}

